@{
    /**/


    ViewBag.Title = "Web Chat Bot";

}

<div>
<iframe src='https://webchat.botframework.com/embed/GaryChanChatBot?s=zF3uo-ffqyM.cwA.PV0.6dRc5Lids27P-Sk-WIYhYSqlrNG6uMRoWcL9t7ZqPBY' width="800" height="550"></iframe>
</div>